extends layout

block content
  p.lead
    | Contact
  address
    strong Computer Science & Enginnering
    br
    strong University of California, San Diego
    br
    | 9500 Gilman Dr
    br
    | San Diego, CA 92093
  address
    strong Jeff Jia
    br
    | Email: jeff jia @ outlook
    br
    | Gtalk: j.jiafei
