extends layout

block content
  p.lead
    | Hi,
  p.
    I work for a variety of open-source and research projects. With each
    project, I aim to maintain a balance between functionality and simplicity,
    and I enjoy the job of doing it. By the time, I also try to explore the
    opportunity to work on social app and cloud infrastructure.
  p.
    Feel free to have a look at my work and contact me if you think my expertise,
    experience or passion may help you.
  p.
    Thanks for stopping by!

  br
  br

  ul.inline
    li
      a(href='https://github.com/jeffjia') GitHub
    li
      a(href='https://www.linkedin.com/pub/jeff-jia/26/830/890/') LinkedIn
    li
      a(href='https://twitter.com/JeffreyFJ') Twitter
    li
      a(href='http://blog.jeffjia.com/') Blog
    li
      a(href='http://gallery.jeffjia.com/') Gallery
