extends layout

block content
  p.lead
    | News
  ol
    li
      | Aimed for the Micro 2013
      br
      | - Apr 23, 2013
    li
      | Look forward to the cooperation with the best designer I have ever seen.
      br
      | - Apr 22, 2013
    li
      | Made a benchmark from Android Dalvik GC
      br
      | - Apr 5, 2013
    li
      | Started as a staff in University of California, San Diego
      br
      | - Mar 24, 2013
    hr
    li
      | Graduated with a master degree from University of California, San Diego
      br
      | - Mar 23, 2013
    li
      | Submited the master thesis "The Arsenal Tool Chain for the GreenDroid
      | Mobile Application Processor" to the thesis committee
      br
      | - Mar 15, 2013
