extends layout

block content
  p.lead
    | News
  ol
    li
      | Start a new open-source project 
      a(href='https://github.com/jeffjia/easy-scraper') EasyScraper.
      br
      | - Oct 20, 2013
    li
      | My Chinese novel search engine 
      a(href='http://www.soukr.net') Soukr.net
      |  is online!
      br
      | - Oct 18, 2013
    li
      | Attended Battle Hack, and we have 
      a(href='https://github.com/jeffjia/payit') PayIt
      | !
      br
      | - Aug 10, 2013
    li
      | Start my career in Microsoft and my life in Seattle!
      br
      | - Jun 17, 2013
    hr
    li
      | Attended the commencement ceremony in UCSD.
      br
      | - Jun 15, 2013
    li
      | Aimed for the Micro 2013
      br
      | - Apr 23, 2013
    li
      | Look forward to co-working with the best designer I have ever seen.
      br
      | - Apr 22, 2013
    li
      | A small contribution to LLVM: 
      a(href='http://llvm.org/bugs/show_bug.cgi?id=15727') Bug Report with Fix
      | .
      br
      | - Apr 11, 2013
    li
      | My tool produced a energy-efficient asic core for Dalvik garbage
      | collector!
      br
      | - Apr 5, 2013
    li
      | Made a benchmark from Android Dalvik garbage collector.
      br
      | - Apr 5, 2013
    li
      | Started as a staff in University of California, San Diego.
      br
      | - Mar 24, 2013
    hr
    li
      | Graduated with a master degree from University of California, San
      | Diego.
      br
      | - Mar 23, 2013
    li
      | Submitted the master thesis "The Arsenal Tool Chain for the GreenDroid
      | Mobile Application Processor" to the thesis committee.
      br
      | - Mar 15, 2013
