extends layout

block content
  p.lead
    | Full-time Projects

  h4
    | Google Ads
  p March 2014 - Present
  p
    | Google

  hr

  h4
    | Cloud Operational Data Analytics
  p June 2013 - March 2014
  p
    | Cloud and Datacenter Management, Microsoft
  p.
    Conducting data analytics (with data visualization, machine learning) on
    cloud operational data to improve the reliability of cloud systems.

  hr

  p.lead
    | Open-source projects

  h4
    a(href='https://github.com/jeffjia/easy-scraper') EasyScraper

  p.
    A sample-based scraper generator to simplify the process of data scraping.

  hr

  h4
    a(href='http://jeffjia.github.io/todoq') Todoq

  p.
    The simplest command-line todo list to help with better focus at work.

  hr

  h4
    a(href='http://jeffjia.github.com/Send2Cloud') Send2Cloud
  p.
    A bookmarklet to send documents to Dropbox.

  hr

  p.lead
    | Research projects

  h4
    a(href='http://greendroid.ucsd.edu') GreenDroid
  p Oct 2011 - June 2013
  p
    | GreenDroid, UCSD
  p.
    GreenDroid is a mobile application processor aimed to improve energy
    efficiency of mobile phones.
  p.
    I designed and developed the second-version hardware compiler tool chain to
    produce C-cores (conservation cores) from arbitrary C or C++ functions with
    LLVM
    for the GreenDroid architecture.

  hr

  h4 Stack miner
  p Feb 2011 - June 2011
  p
    | Software Analytics Group, MSRA
  p.
    Stack miner is a software analysis tool locating the root cause of software
    performance bugs with data mining algorithms.
  p.
    I proposed a new association mining rule “maximal contrast pattern pair
    mining in single database”, and a parallel algorithm to mine the patterns
    efficiently.

  hr

  h4 Usage Log Analysis
  p Aug 2010 - Feb 2011
  p
    | Software Analytics Group, MSRA
  p.
    We introduced the contrast sequence mining to usage log analysis, and
    conducted the analysis of user behavior change over time and search engine
    dimension.
