extends layout

block content
  p.lead
    | Research projects
  h4
    a(href='http://greendroid.ucsd.edu') GreenDroid
  p Oct 2011 - Present
  p
    | UCSD, GreenDroid
  p.
    GreenDroid is a mobile application processor aimed to improve energy
    efficiency of mobile phones.
  p.
    I designed and developed the second-version hardware compiler tool chain to
    produce C-cores (conservation cores) from arbitrary C or C++ functions with
    LLVM
    for the GreenDroid architecture.

  hr

  h4 Stack miner
  p Feb 2011 - June 2011
  p
    | MSRA, Software Analytics Group
  p.
    Stack miner is a software analysis tool locating the root cause of software
    performance bugs with data mining algorithms.
  p.
    I proposed a new association mining rule “maximal contrast pattern pair
    mining in single database”, and a parallel algorithm to mine the patterns
    efficiently.

  hr

  h4 Browser toolbar log analysis
  p Aug 2010 - Feb 2011
  p
    | MSRA, Software Analytics Group
  p.
    We introduced the contrast sequence mining to browser log analysis, and
    conducted the analysis of user behavior change over time and search engine
    dimension.

  hr

  p.lead
    | Open-source projects

  h4 Early Bird Contest

  p.
    A social app that uses contest to help with self-discipline and goal
    achievement.

  hr

  h4
    a(href='http://jeffjia.github.io/todoq') Todoq

  p.
    The simplest command-line todo list to help with better focus at work.

  hr

  h4
    a(href='http://jeffjia.github.com/Send2Cloud') Send2Cloud
  p.
    A bookmarklet to send documents to Dropbox.
